.body_background 
{
    background-image: url("https://bloximages.newyork1.vip.townnews.com/jacksonprogress-argus.com/content/tncms/assets/v3/editorial/f/f3/ff3bc53c-9de2-11eb-97d8-2370d276f1b2/5ddd379440c78.preview.jpg?resize=882%2C630");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
